.pad10{
    padding:10px 0px;
}
.pad20{
      padding:20px 0px;

}
.blackbtn{
    color:white;
    background-color: #383838;
    border-color:#2F2F2F;
}

.blackbtn:hover{
    color:white;
    background-color: #000;
    border-color:#2F2F2F;
}
.greyback{
    background-color: #606060;
    color:white;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(245,245,245,0.4);
}