    <acme-navbar creation-date="main.creationDate"></acme-navbar>

<div class="container">


<h3> Member Manager</h3>
<div class="row pad10">
    <div class="col-md-3 pad10">
        <div class="input-group">
      <input type="text" class="form-control" placeholder="Username,Email,Phone,Note" ng-model="search_content">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="searchMember(search_content)">Search</button>
      </span>
    </div><!-- /input-group -->
        
       
    </div>
    <div class="col-md-3 col-md-offset-6 pad10">
                       <button ng-click="getMembers(1,itemsPerPage)" type="button" class="btn btn-info ">Show All</button>
               <button ng-click="showpass()" type="button" class="btn btn-info ">Password</button>
         <button  ng-click="openCreate()"  type="button" class="btn btn-primary ">Add Member</button>
         <!--<a  href="http://www.dreamprojectdia.com/api/backup" target="_blank"  class="btn-space pull-right btn btn-sm btn-primary "> Back Up</a>-->

    </div>
</div>

                          
                                
 <div class="row pad10">       
     <uib-pagination rotate="true" boundary-links="true" force-ellipses="true" max-size="20" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>

    <div class="table-responsive">
                               <table class="table table-hover table-bordered">
                            <thead><td>Username ($ = admin)</td><td>Password</td><td>Role</td><td>Sale Price</td><td>Note</td><td>Date</td><td>Delete/Update</td></thead>



                                   <tr ng-repeat="u in users | filter:search |orderBy:'-username'">
                                       <td><span ng-show="u.role=='admin'">$</span>{{u.username}}</td>
                                       <td><span ng-show="showpassword">{{u.password}}</span><span ng-hide="showpassword">***</span></td>

                                        <td>{{u.role}}</td>
                                        <td>{{u.salePrice|currency}}</td>
                                        <td>{{u.note}}</td>

                                        <td>{{u.registeredOn|date:'yyyy-MM-dd'}}</td>
                                       <td>
                                             <div class="btn-group" role="group" aria-label="...">
                                                 <button  class="btn btn-danger" type="button" ng-click="deleteMember(u._id)" >Delete</button>
                                                    <button  class="btn btn-primary" type="button" ng-click="openUpdate(u)">Update</button>
                                                  </div>
                                       </td></tr>


                                </table>
                                </div>
       
       
 </div>                             
    

</div>



