   <acme-navbar creation-date="main.creationDate"></acme-navbar>
<div class="container">

  
<h3>Multiple Online Member</h3>
  <div class="row" style="padding:20px;">
  <div  class="form-inline" >
         <div style="margin:20px;" class="pull-right form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Account" ng-model="searchacc.username">
<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>    </div>
  </div>
        </div>
       <table class="table table-hover ">
                 <thead><td>Count(s)</td><td>Account</td><td>Date</td></thead>

 <tr  ng-repeat="rc in multiplelogin |filter:searchacc "><td>{{rc.count}}</td><td>{{rc.username}}</td><td>{{rc.date  | date:'yyyy-MM-dd HH:mm:ss'}}</td></tr>
            
        </table>
         <button ng-click="emptyRecords()" type="button" class="pull-right btn btn-sm btn-danger ">Empty Records</button>
</div>