<nav class=" navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#">
        {{navText}} 
      </a>
        
    </div>

    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <ul class="nav navbar-nav">
        
        <!--<li  uib-dropdown><a ng-href="#" uib-dropdown-toggle>Member<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="#">Dream Project</a></li>
             <li><a ng-href="#">Racing Pro</a></li>
            </ul>
          </li>-->
          
          
          
          
                    <li><a ng-href="#">Member</a></li>
          <li><a ng-href="#current">Online User</a></li>
       <li><a ng-href="#multiple">Multiple Login</a></li>
      <li><a ng-href="#accounting">Accounting</a></li>
                <li ng-hide="navText=='Dream Project'"><a ng-href="#race">Race</a></li>

          
             <li><a href="#" ng-click="logout()">Log out</a></li>
      </ul>

      
    </div>
  </div>
</nav>
